.header {
    width: 100%;
    height: 2rem;
    background-color: aqua;
    align-items: center;
    text-align: center;
    align-content: center;
}

h1 {
    color: rgb(64, 0, 255);
    align-items: center;
    align-content: center;
    text-align: center;
}

h2 {
    color: chocolate;
}

table {
    color: green;
}

th {
    color: #0a1434;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.tcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}